{% extends 'base.html'%}
{% block content %}
<div class="article">
	<h2>О проекте</h2>
	<p>Прямо сейчас в городах работают многочисленные камеры видеонаблюдения. Иногда его объясняют различными благовидными причинами. В последнее время – развертывают на его базе системы распознавания лиц.</p>
	<p>Некоторым нравится быть объектом чьего-то внимания, другим – нет. В ситуации, когда наблюдение усилено передовыми техническими достижениями и поставлено на поток, большинство не имеет возможности выбирать, и даже оценивать масштаб окружающих систем контроля. С каждым годом число камер растет.</p>
	<p>Официально, камеры и системы распознавания лиц помогают полиции находить преступников. И это действительно упрощает оперативно-розыскные мероприятия. Но цена – информация о любом из нас в непосредственном доступе у незнакомых нам полицейских и чиновников. Они люди, они совершают ошибки, они могут использовать наши данные для достижения собственных целей, вполне возможно кому-то во вред. А еще во многих государствах тебя могут объявить "преступником" за инакомыслие.</p>
	<p>В свете последних мировых событий у нас возникли вопросы:</p>
    <ul><li>Как глубоко контроль вошел в повседневную жизнь?</li>
        <li>Как к этому относится общество?</li>
        <li>Что дальше?</li></ul>
    <p>Мы хотим найти ответы</p>
	<hr>
	<p><a href="/just_do_it">Как стать суперменом?</a> Поддержи нас<a href="/contribute"> электронной монетой</a>!</p>
</div>
{% endblock %}
