{% extends 'base.html'%}
{% block content %}
<div class="article">
	<h2>Поддержать</h2>
	<p>Проект существует на средства пожертвований.
	На первый месяц работы сервера мы накопили денег, но мы – студенты.</p>
<p>Здесь приводятся адреса электронных кошельков для пожертвований</p>
<p><b>Monero(XMR): {{g.monero}}</b></p>
<p><b>Zcash(ZEC): {{g.zcash}}</b></p>
<p>Bitcoin(BTC): {{g.bitcoin}}</p>
<p>Полученные средства пойдут на аренду сервера.
Рекомендуем использовать <b>Monero</b> или <b>Zcash</b> - так намного <b>безопаснее</b>, чем биткойнами.</p>
</div>
{% endblock %}
