{% extends 'base.html'%}
{% block content %}
<div class="article">
	<h2>Действуй!</h2>
	<p>Иногда это не очевидно, но в не обязательно быть мифическим лидером, суперспециалистом, бизнесменом или политиком, чтобы менять этот мир здесь и сейчас.</p>
    <p>Достаточно иметь представление о том, чего ты хочешь добиться, определить направление действия. Профессорский багаж знаний не нужен. Президентское кресло не нужно. Миллионы на швейцарских счетах не нужны. Всему <i>необходимому</i> можно научиться самостоятельно.</p>
    <p>Серьезно, этот сайт сделали российские студенты-первокурсники. А ты думаешь, почему мы <a href="/contribute">клянчим у тебя деньги</a> на каждой странице? :-)</p>
	<p>Зачем ждать, что кто-то решит проблемы за тебя? Бери все в свои руки. Ищи единомышленников. Решай проблемы. Будет весело!</p>

	<hr/>
	<p><a href="/contribute">Поддержи нас криптой!</a></p>
</div>
{% endblock %}
