{% extends 'base.html'%}
{% block content %}
<div class="article">
	<h2>Политика конфиденциальности</h2>
	<p>Для регистрации на сайте не требуется личная информация. IP-адрес может сохраниться в логах хостинга (это от нас не зависит), если нужно скрыть IP – используй Tor или VPN</p>
	<p>Все, что написано в комментарии при добавлении камеры, будет доступно для прочтения всем желающим.</p>
	<p>За использование комментариев к камерам для рекламы товаров/услуг/политических партий, призывов к агрессивному насилию, флуда – удаление правок и бан.</p>
	<p>В базе данных каждая камера связана с пользователем, который ее добавил, это необходимо для анализа и отката правок ботов. Точность времени добавления для камеры не выше одного дня, т.е. при получении доступа к базе данных невозможно узнать время добавления, только дату (она же отображается в инфо на главной).</p>
	<hr>
	<p>Поддержи нас<a href="/contribute"> электронной монетой!</a></p>
</div>
{% endblock %}
