{% extends 'base.html'%}
{% block content %}
<div class="article">
	<h2>About</h2>
	<p>Today we are constantly live under surveillance</p>
	<p>Иногда его объясняют различными благовидными и неблаговидными причинами. А иногда – не объясняют.</p>
	<p>Now it is possible to make a file, that will contains characteristics of somebody's jestures, face, color of eyes, manner of walking, places of living/visiting, social graph...</p>
	<p>Some people like to be an object of interesting, the other do not. But in the situation when surveillance is powered by the newest technical acheivements and massively forced
        Некоторым из нас нравится быть объектом чьего-то внимания, некоторым – нет. Но ситуация, когда наблюдение усилено передовыми техническими достижениями и поставлено на поток – не та ситуация, в которой у кого-то есть выбор. С каждым годом число камер в городах только растет.</p>
	<p>Официально, все это помогает полиции находить преступников. Да, это действительно <i>очень</i> удобно при оперативно-розыскных мероприятиях. Но цена этого – информация о любом из нас в непосредственном доступе у незнакомых нам полицейских, чиновников. Как и все мы, они неидеальны, и данные могут быть использованы ими для достижения собственных целей, вполне возможно – кому-то во вред. А еще во многих государствах вас могут объявить "преступником" за инакомыслие.</p>
	<p>В свете последних мировых событий мы задались интересными, злободневными вопросами:</p>
    <ul><li>Как глубоко контроль вошел в нашу повседневную жизнь?</li>
        <li>Как к этому относится общество?</li>
        <li>Что дальше?</li></ul>
    <p>На первый из них мы, кажется, уже нашли часть ответа</p>
	<hr>
	<p>Кем, как и почему <a href="/just_do_it">создаются такие сервисы?</a> Поддержите нас<a href="/contribute"> электронной монетой</a>!</p>
</div>
{% endblock %}
