{% extends 'base.html'%}
{% block content %}
<div class="article">
	<h2>{% block m_contribute %}Поддержать{% endblock %}</h2>
	{% block contribute %}
	<p>Данный проект существует исключительно на средства пожертвований.
	На первый месяц работы сервера мы накопили немного денег.
	Но долго такая схема не протянет, потому что мы - студенты.</p>
<p>Поэтому здесь приводятся адреса электронных кошельков для пожертвований</p>
<p><b>Monero(XMR): {{g.monero}}</b></p>
<p><b>Zcash(ZEC): {{g.zcash}}</b></p>
<p>Bitcoin(BTC): {{g.bitcoin}}</p>
<p>Полученные средства пойдут на обслуживание сервера и плату за подключение к интернету.
Настоятельно рекомендуем использовать <b>Monero</b> или <b>Zcash</b> - так <i><b>безопаснее</b></i></p>
{% endblock %}
</div>
{% endblock %}
