{% extends 'base.html' %}
{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename='leaflet/leaflet.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='leaflet.rotatedMarker.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='markercluster/leaflet.markercluster.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='Control.Geocoder.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='iWatcher-src.js') }}"></script>

 <div id="editmap"></div>
 <div id="caminfo">
	<form name="addcam" method="post">
		<input name="csrf" type="hidden" value="{@}">
		<div class="column" id="latlon">
			<p><b>Широта: </b><span id="lat"></span></p>
			<p><b>Долгота: </b><span id="lon"></span></p>
		</div>
		<div class="column">
			<p><b>Тип камеры</b></p>
			<p><input name="c_type" type="radio" value="std" id="std"  onchange="setCType()" checked="checked">Направленная</p>
			<p><input name="c_type" type="radio" value="fish" id="fish" onchange="setCType()">Широкоугольная 180/360 (fish-eye)</p>
		</div>
		<div class="column">
			<span class="formitem">Направление</span>
			<input name="dev" id="dev" type="range" min="0" max="72" step="1" oninput="if(newcamera!=undefined){newcamera.setRotationAngle(value*5)}"/>
			<input name="additem" type="button" value="Применить" onclick="rAddData()"/>
			<h3>Добавить</h3>
		</div>
		<div class="column">
			<textarea class="descr" name="descr" id="new_about" placeholder="Описание" maxlength="255"></textarea>
		</div>
	</form>
 </div>
 <script>
    var editor = true;
	var map;
	map = new L.Map('editmap', {zoomControl: false});

	// create the tile layer with correct attribution
	var osmUrl='https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
	var osmAttrib='Map data © <a href="https://openstreetmap.org">OpenStreetMap</a> contributors';
	var osm = new L.TileLayer(osmUrl, {minZoom:4, maxZoom: 19, attribution: osmAttrib});
	map.setView(new L.LatLng((getCookie('lat') ? getCookie('lat') : 55.7522), (getCookie('lon') ? getCookie('lat') : 37.6156)), 16);
	map.addLayer(osm);
    L.control.zoom({position: "topleft"}).addTo(map);
    L.Control.geocoder({
        collapsed: false,
        placeholder: {% if g.lang=='en' %}"Search..."{% else %}"Искать..."{% endif %},
        errorMessage: {% if g.lang=='en' %}"Nothing found."{% else %}"Не найдено."{% endif %},
        defaultMarkGeocode: false
    }).addTo(map);

    var markers = L.markerClusterGroup();/*{
    	spiderfyOnMaxZoom: false
	});*/
    map.addLayer(markers);

	var newcamera

	onMapLoad();
    map.on ('moveend', onMapUpd);
	map.on ('resize', onMapUpd);
	map.on ('zoomend', onMapUpd);
	map.on ('click', function (ev) {
        if (map.getZoom() >= 16) {
            let type = ((document.getElementById('fish').checked)?('fish'):('cctv'));
    		let imgname = 'static/images/'+type+'.png';
    		let camImg = L.icon({
                iconUrl: imgname,
                iconSize: [16, 16],
                iconAnchor: [8, 8]});
            let angle = document.getElementById("dev").value * 5;
    		document.getElementById("lat").innerHTML = ev.latlng.lat.toFixed(6);
    		document.getElementById("lon").innerHTML = ev.latlng.lng.toFixed(6);
    		document.getElementById("new_about").innerHTML = "";
    		if (newcamera){
    			newcamera.setLatLng(ev.latlng);
    		}
    		else{
    			newcamera = L.marker(ev.latlng, {icon: camImg, draggable: true, opacity: 0.7, rotationAngle: ((type =='fish') ? 0:angle)}).addTo(map);
                newcamera.on('drag', function (drg) {
                    document.getElementById("lat").innerHTML = newcamera.getLatLng().lat.toFixed(6);
            		document.getElementById("lon").innerHTML = newcamera.getLatLng().lng.toFixed(6);
                });
    			newcamera.setIcon(camImg);
    		}
        }
});

	L.ImgDragHandler = L.Handler.extend({
    addHooks: function() {
        L.DomEvent.on(map, 'dragstart', this._noimgdrg, this);
    },
    removeHooks: function() {
        L.DomEvent.off(map, 'dragstart', this._noimgdrg, this);
    },
    _noimgdrg: function(ev) { L.DomUtil.disableImageDrag(); }
});
 </script>
{% endblock %}
