{% extends 'base.html'%}
{% block content %}
<div class="article">
	<h2>{% block m_justdoit %} Как мы посмели... {% endblock %}</h2>
	<p>Гражданское общество. Низовые инициативы. Самоорганизация. Иногда эти слова попадаются в журналистских статьях. Что это значит? Откуда оно берется?</p>
	<p>Все очень просто. Возможно это не очевидно, но не обязательно быть каким-то мифическим лидером, выдающимся специалистом, бизнесменом или политиком, чтобы менять этот мир здесь и сейчас.</p>
    <p>Достаточно иметь представление о том, что именно ты хочешь изменить, определить направление действия. Профессорский багаж знаний не нужен. Президентское кресло не нужно. Миллионы на швейцарских счетах не нужны. Всему действительно <i>необходимому</i> можно научиться самостоятельно.</p>
    <p>Серьезно, этот сайт сделали российские студенты-первокурсники. А вы думаете, почему мы так <a href="/contribute">клянчим у вас деньги</a> на каждой странице? :-)</p>
	<p>Не надо ждать, что кто-то решит ваши проблемы за вас. Берите все в свои руки. Ищите единомышленников. Решайте проблемы. Будет весело!</p>

	<hr/>
	<p>Пожалуйста, <a href="/contribute">поддержите нас!</a></p>
</div>
{% endblock %}
